<%- include("_header") -%>

<h1>List of <%= model.length%> favorite songs</h1>
<br />
  <table class="table table-hover" id="table_id">
    <thead>
      <tr>
        <th>Artist / Group</th>
        <th>Favourite song</th>
        <th>Published year</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const song of model) { %>
        <tr>
          <td><%= song.Bandname %></td>
          <td><%= song.SongTitle %></td>
          <td><%= song.Year %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= song.Favorite_ID %>">Update</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= song.Favorite_ID %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

<%- include("_footer") -%>